<app-aside-content-wrapper [showCardSurroundings]="!embedded()">
  @if (!embedded()) {
    <div topRight class="flex flex-col items-end gap-2">
      <p>Neu bei DABubble?</p>
      <a routerLink="/signup" class="dab-anchor-on-bg -mr-4">Konto erstellen</a>
    </div>
  }

  <div card>
    @if (!isResetMode) {
      <header class="mb-6">
        <h1>
          @if (mode() === 'login') {
            Anmeldung
          } @else if (mode() === 'reauth') {
            Erneut anmelden
          }
        </h1>

        <p class="paragraph-20">
          @if (mode() === 'login') {
            Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.
          } @else if (mode() === 'reauth') {
            Bitte melde dich erneut an, um mit der Aktion fortzufahren.
          }
        </p>
      </header>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate class="dab-form">
        <div>
          <div class="dab-input-field">
            <label for="email" class="sr-only">E-Mail</label>
            <span class="material-icons-outlined icon">mail</span>
            <input
              id="email"
              name="email"
              type="email"
              pattern="^[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}$"
              autocomplete="email"
              required
              placeholder="beispielname@email.com"
              [(ngModel)]="email"
              #emailModel="ngModel" />
          </div>
          @if (emailModel.invalid && emailModel.touched) {
            <p class="dab-field-error">Bitte gib deine E-Mail-Adresse ein.</p>
          }
        </div>

        <div>
          <div class="dab-input-field">
            <label for="password" class="sr-only">Passwort</label>
            <span class="material-icons-outlined icon">lock</span>
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              placeholder="Passwort"
              [(ngModel)]="password"
              #passwordModel="ngModel" />
          </div>
          @if (passwordModel.invalid && passwordModel.touched) {
            <p class="dab-field-error">Bitte gib dein Passwort ein.</p>
          }
        </div>

        @if (mode() === 'login') {
          <button
            type="button"
            (click)="onStartPasswordReset()"
            [disabled]="isSubmitting"
            class="dab-anchor-on-white mx-auto block">
            Passwort vergessen?
          </button>
        }

        <div class="gap- flex items-center gap-2 small-text">
          <span class="h-px flex-1 bg-dab-light-purple-lines"></span>
          <span class="font-medium">ODER</span>
          <span class="h-px flex-1 bg-dab-light-purple-lines"></span>
        </div>

        <button
          (click)="onLoginWithGoogle()"
          [disabled]="isSubmitting"
          type="button"
          class="flex w-full items-center justify-center gap-2 rounded-full border border-transparent bg-dab-bg px-4 py-2 text-dab-purple-1 transition outline-none hover:border-dab-purple-1 hover:font-bold focus-visible:border-dab-purple-1 focus-visible:font-bold active:border-dab-gray active:font-medium sm:px-8">
          <img src="imgs/google.svg" alt="" class="size-7" />
          <span>
            @if (mode() === 'login') {
              Anmelden mit Google
            } @else {
              Erneut anmelden mit Google
            }
          </span>
        </button>

        @if (errorMessage) {
          <p class="dab-inline-error">
            {{ errorMessage }}
          </p>
        }

        @if (infoMessage) {
          <p class="dab-inline-info">
            {{ infoMessage }}
          </p>
        }

        @if (mode() === 'login') {
          <div class="mt-4 flex justify-center gap-4">
            <button type="submit" [disabled]="isSubmitting || loginForm.invalid" class="dab-btn-primary">
              Anmelden
            </button>

            <button type="button" (click)="onGuestLogin()" [disabled]="isSubmitting" class="dab-btn-secondary">
              Gäste-Login
            </button>
          </div>
        } @else if (mode() === 'reauth') {
          <div class="mt-4 flex justify-center">
            <button type="submit" [disabled]="isSubmitting || loginForm.invalid" class="dab-btn-primary">
              {{ isSubmitting ? 'Bestätigen …' : 'Bestätigen' }}
            </button>
          </div>
        }
      </form>
    } @else if (isResetMode) {
      <button
        type="button"
        aria-label="Zurück zur Anmeldung"
        class="dab-ui-item back-btn"
        (click)="onBackToLoginView()">
        <span class="material-icons">arrow_back</span>
      </button>

      <div class="mb-6">
        <h1>Passwort zurücksetzen</h1>
        <p class="paragraph-20">Bitte gib deine E-Mail-Adresse ein.</p>
      </div>

      <form #resetForm="ngForm" (ngSubmit)="onSendPasswordReset(resetForm)" novalidate class="dab-form">
        <div>
          <div class="dab-input-field">
            <label for="email" class="sr-only">E-Mail</label>
            <span class="material-icons-outlined icon">mail</span>
            <input
              id="email"
              name="email"
              type="email"
              pattern="^[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}$"
              autocomplete="email"
              required
              placeholder="beispielname@email.com"
              [(ngModel)]="email"
              #emailModel="ngModel" />
          </div>
          @if (emailModel.invalid && emailModel.touched) {
            <p class="dab-field-error">Bitte gib deine E-Mail-Adresse ein.</p>
          }
        </div>
        <p class="text-center">Wir senden dir eine E-Mail, über die du dein Passwort ändern kannst.</p>

        @if (errorMessage) {
          <p class="dab-inline-error">
            {{ errorMessage }}
          </p>
        }

        @if (infoMessage) {
          <p class="dab-inline-info">
            {{ infoMessage }}
          </p>
        }

        <button type="submit" [disabled]="isSubmitting || resetForm.invalid" class="dab-btn-primary ml-auto block">
          {{ isSubmitting ? 'E-Mail wird gesendet …' : 'E-Mail senden' }}
        </button>
      </form>
    }
  </div>
</app-aside-content-wrapper>
