button:disabled {
  cursor: not-allowed;
  &:hover {
    cursor: not-allowed;
    background-color: #bb0404;
    opacity: 0.5;
  }
}

input {
  border: 1px solid #797ef3;
  padding: 8px 12px;
  width: 90%;
  padding-left: 12px;
  &:hover {
    border: 1px solid #535af1;
    cursor: pointer;
  }
  &:focus {
    border: 2px solid #535af1;
    outline: none;
  }
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
}

.cancel {
  color: #535af1;
  font-weight: 700;
  border: 1px solid #797ef3;
  padding: 12px 24px;
  &:hover {
    cursor: pointer;
    background-color: #535af1;
    color: white;
  }
}

.update {
  background-color: #535af1;
  color: white;
  font-weight: 700;
  border: 1px solid #797ef3;
  padding: 12px 24px;
  &:hover {
    cursor: pointer;
    background-color: #797ef3;
  }
}

.close {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition:
    transform 0.2s,
    color 0.2s;
}

.close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #eceefe;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition:
    width 0.2s ease,
    height 0.2s ease;
  z-index: -1;
}

.close:hover::before {
  width: 32px;
  height: 32px;
}

.close:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #535af1;
}

.input-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  &:hover {
    border: 1px solid #535af1;
    cursor: not-allowed;
  }
}
