<section
  *ngIf="visible"
  [@scaleAnimation]="visible ? 'enter' : 'leave'"
  (@scaleAnimation.done)="onAnimationDone($event)"
  class="flex h-120 w-[310px] flex-col items-center justify-center gap-6 rounded-2xl bg-white shadow-xl sm:w-[360px] lg:w-[440px] lg:rounded-tl-2xl lg:rounded-tr-none lg:rounded-br-2xl lg:rounded-bl-2xl">
  <div class="flex w-full items-center justify-between px-6">
    <h2>Dein Profil bearbeiten</h2>
    <button (click)="closeOverlay()"><mat-icon class="close">close</mat-icon></button>
  </div>
  <img
    class="size-40 rounded-full"
    [src]="profilePictureService.getUrl(currentUser()?.profilePictureKey)"
    alt="Profilbild ändern"
    (click)="openAvatarOverlay()" />
  <div class="flex w-full flex-col px-6">
    <div class="flex items-center gap-4">
      <img src="imgs/direktnachrichten img.svg" alt="" />
      <h4>Vollständiger Name</h4>
    </div>
    <input
      class="rounded-full text-gray-500"
      type="text"
      [(ngModel)]="newName"
      placeholder="{{ currentUser()?.name || 'Gast' }}"
      [disabled]="!canEditName"
      [class.input-disabled]="!canEditName" />
    <span *ngIf="!canEditName" class="text-xs text-red-400">Nur für registrierte User möglich!</span>
  </div>
  <div class="flex items-center gap-10 pt-6">
    <button class="cancel rounded-full" (click)="closeOverlay()">Abbrechen</button>
    <button class="update rounded-full" (click)="updateName()" [disabled]="!canEditName">Speichern</button>
  </div>
</section>
