.profile-picture--overlay {
  width: 440px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;

  > h1 {
    font-size: 24px;
    margin-bottom: 24px;
  }

  > .close {
    display: none;
  }

  > button {
    margin-right: 24px;
  }
}
