.profile-picture--overlay {
  width: 440px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;

  > h1 {
    font-size: 24px;
    margin-bottom: 24px;
  }

  > .close {
    display: none;
  }

  > button {
    margin-right: 24px;
  }

  .cancel {
    color: #535af1;
    font-weight: 700;
    border: 1px solid #797ef3;
    padding: 8px 20px;
    display: flex;
    &:hover {
      cursor: pointer;
      background-color: #535af1;
      color: white;
    }
  }
}

.cancel {
  display: none;
}

@media (max-width: 1024px) {
  .profile-picture--overlay {
    width: 360px;
  }
}

@media (max-width: 640px) {
  .profile-picture--overlay {
    width: 290px;

    .cancel {
      padding: 8px 12px;
    }
  }
}
