:root {
  --dab-bg: #eceefe;
  --dab-light-purple-lines: #adb0d9;
  --dab-gray: #686868;
  --dab-purple-1: #444df2;
  --dab-purple-2: #797ef3;
  --dab-purple-3: #535af1;
  --dab-online-green: #92c83e;
  --dab-rosa-error: #ed1e79;
  --dab-purple-transition: linear-gradient(#797ef3, #313ae5);
}
