@layer components {
  .aside-content-wrapper {
    @apply m-auto grid min-h-full grid-rows-[1fr_auto_1fr] px-4;
  }

  .dab-page-card {
    @apply relative mx-auto w-full max-w-136 rounded-3xl bg-white px-4 py-8 shadow-md sm:p-10 lg:p-12;
    --tw-shadow-color: rgb(0 0 0 / 5%);

    h1 {
      @apply mb-6 text-center text-3xl font-bold text-dab-purple-1 sm:text-5xl;
    }

    &:has(.back-btn, .top-right-btn) {
      h1 {
        @apply px-2 sm:px-12;
      }
    }

    .top-right-btn,
    .back-btn {
      @apply absolute sm:top-11 sm:left-10 lg:top-13 lg:left-12;
      @media (width < 40rem) {
        position: static;
        display: block;
        margin-bottom: 0.5rem;
      }
    }

    .top-right-btn {
      @apply sm:right-10 sm:left-[unset] lg:right-12 lg:left-[unset];
      @media (width < 40rem) {
        margin-left: auto;
      }
    }

    p,
    span:not(.material-icons, .material-icons-outlined) {
      @apply px-2;
    }
  }
}
