<div *ngIf="reactions && (reactions | keyvalue).length" class="py-1">
  <button
    type="button"
    class="message-reaction"
    *ngFor="let r of reactions | keyvalue; trackBy: trackByEmoji"
    [class.message-reaction--own]="hasOwnReaction(r.value)"
    (mouseenter)="showTooltip.emit({ event: $event, emoji: r.key, userIds: r.value })"
    (mouseleave)="hideTooltip.emit()"
    (mousedown)="hideTooltip.emit()"
    (click)="react.emit(r.key)">
    {{ r.key }} {{ r.value.length }}
  </button>
</div>
