.channel__reaction {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  margin-left: 8px;
  background: #ffffff;
  border-radius: 999px;
  font-weight: 700;
  border: 1px solid #797ef3;
  width: fit-content;

  &:hover {
    border-color: #444df2;
    cursor: pointer;
  }
}

.channel__reaction--own {
  background: #4338ca;
  color: #ffffff;
}
