<section class="relative pr-[calc((100%-1440px)/2)] pl-[calc((100%-1440px)/2)]">
  <app-navbar></app-navbar>

  <mat-sidenav-container class="relative h-[calc(100vh-124px)] box-aside">
    <mat-sidenav #leftSidenav opened mode="side"
      ><app-workspace (newMessage)="openNewMessagePanel()" (channelSelected)="closeNewMessagePanel()"></app-workspace
    ></mat-sidenav>
    <mat-sidenav
      opened
      mode="side"
      position="end"
      *ngIf="showNewMessage"
      class="main-content__overlay main-content__overlay--new-message">
      <app-new-message-panel (close)="closeNewMessagePanel()"></app-new-message-panel>
    </mat-sidenav>
    <mat-sidenav opened mode="side" position="end" *ngIf="!showNewMessage && (thread$ | async)">
      <app-thread></app-thread>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container *ngIf="selectedDirectMessageUser$ | async; else channelView">
        <app-messages></app-messages>
      </ng-container>
      <ng-template #channelView>
        <app-channel></app-channel>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="absolute" *ngIf="leftSidenav.opened">
    <button
      class="workspace_button open absolute bottom-64 z-10 flex items-center gap-3 rounded-b-xl drop-shadow-lg"
      (click)="leftSidenav.close()"
      (mouseenter)="isCloseWorkspaceButtonHovered = true"
      (mouseleave)="isCloseWorkspaceButtonHovered = false">
      Workspace-Menü schließen
      <img
        class="close_workspace workspace_toggle-icon"
        [src]="
          isCloseWorkspaceButtonHovered
            ? 'imgs/workspace/close-workspace-menu-hover.svg'
            : 'imgs/workspace/close-workspace-menu.svg'
        "
        alt="Workspace-Menü schließen" />
    </button>
  </div>

  <div class="absolute" *ngIf="!leftSidenav.opened">
    <button
      class="workspace_button close absolute bottom-64 z-10 flex items-center gap-3 rounded-b-xl drop-shadow-lg"
      (click)="leftSidenav.open()"
      (mouseenter)="isOpenWorkspaceButtonHovered = true"
      (mouseleave)="isOpenWorkspaceButtonHovered = false">
      Workspace-Menü öffnen
      <img
        class="open_workspace workspace_toggle-icon"
        [src]="
          isOpenWorkspaceButtonHovered
            ? 'imgs/workspace/open-workspace-menu-hover.svg'
            : 'imgs/workspace/open-workspace-menu.svg'
        "
        alt="Workspace-Menü öffnen" />
    </button>
  </div>
</section>
