<section class="relative pr-[calc((100%-1440px)/2)] pl-[calc((100%-1440px)/2)]">
  <app-navbar [showBackButton]="showMobileBackButton()" (back)="navigateUp()"></app-navbar>

  <ng-container *ngIf="isTabletScreen(); else desktopLayout">
    <div class="main-content__mobile">
      <div class="main-content__mobile-body h-[calc(100vh-80px)]">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>

  <ng-template #desktopLayout>
    <mat-sidenav-container class="relative h-[calc(100vh-124px)] bg-dab-bg! pr-4 pl-4">
      <mat-sidenav class="bg-dab-bg!" #leftSidenav opened mode="side">
        <app-workspace [activeChannelId]="activeChannelId()" [activeDmId]="activeDmId()"></app-workspace>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <app-workspace-toggle-button
      *ngIf="leftSidenav"
      [opened]="leftSidenav.opened"
      (toggle)="leftSidenav.opened ? leftSidenav.close() : leftSidenav.open()">
    </app-workspace-toggle-button>
  </ng-template>
</section>
