.reaction-tooltip {
  background: #535af1;
  color: #fff;
  padding: 12px 10px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-width: 140px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.reaction-tooltip__emoji {
  font-size: 28px;
  margin-bottom: 6px;
}

.reaction-tooltip__users {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
  justify-content: center;
}

.reaction-tooltip__users--single {
  justify-content: center;
  text-align: center;

  li {
    width: 100%;
    text-align: center;
  }
}

.reaction-tooltip__verb {
  font-size: 12px;
  opacity: 0.8;
}
