<div class="reaction-tooltip">
  <div class="reaction-tooltip__emoji">{{ emoji }}</div>

  <ul class="reaction-tooltip__users"
  [class.reaction-tooltip__users--single]="users.length === 1">
    <li>
      <ng-container *ngFor="let user of users; let i = index; let last = last">
        <ng-container *ngIf="i > 0">
          <span *ngIf="last"> und </span>
          <span *ngIf="!last">, </span>
        </ng-container>

        <strong *ngIf="user === 'Du'">{{ user }}</strong>
        <span *ngIf="user !== 'Du'">{{ formatUserName(user) }}</span>
      </ng-container>
    </li>
  </ul>

  <div class="reaction-tooltip__verb">
    {{ verbText }}
  </div>
</div>
