<div class="absolute right-0 left-12 top-8 z-50 max-h-[400px] max-w-[360px] bg-white shadow-xl box-border"
     *ngIf="results.length">
  <ng-container *ngIf="isUserSearch">
    <ng-container *ngIf="users.length; else noUsers">
      <div class="px-10 py-2 overflow-y-auto max-h-[400px] pr-2 pb-2">
        <div
          *ngFor="let user of sortedUsers"
          (click)="choose(user)"
          class="filter-bg flex cursor-pointer items-center px-2 py-3">
          <img class="mr-3 h-8 w-8 rounded-full" [src]="user.data.photoUrl || 'imgs/default-profile-picture.png'" />

          {{ user.data.name }}
        </div>
      </div>
    </ng-container>

    <ng-template #noUsers>
      <div class="px-4 py-3 text-gray-400">Diesen User gibt es leider nicht.</div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="isChannelSearch">
    <ng-container *ngIf="channels.length; else noChannels">
      <div class="px-10 py-2">
        <div
          *ngFor="let channel of channels"
          (click)="choose(channel)"
          class="filter-bg flex cursor-pointer items-center gap-2 px-6 py-3">
          <span>#</span><span>{{ channel.data.title }}</span>
        </div>
      </div>
    </ng-container>

    <ng-template #noChannels>
      <div class="px-4 py-3 text-gray-400">Diesen Channel gibt es leider nicht. Erstelle ihn doch einfach!</div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="!isUserSearch && !isChannelSearch">
    <ng-container *ngIf="users.length">
      <div class="px-10 py-2">
        <div class="px-4 text-sm font-semibold">User</div>
        <div
          *ngFor="let user of sortedUsers"
          (click)="choose(user)"
          class="filter-bg flex cursor-pointer items-center px-4 py-3">
          <img class="mr-3 h-8 w-8 rounded-full" [src]="user.data.photoUrl" />
          {{ user.data.name }}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="channels.length">
      <div class="px-10 py-2">
        <div class="px-4 text-xs font-semibold">Channels</div>
        <div
          *ngFor="let channel of channels"
          (click)="choose(channel)"
          class="filter-bg flex cursor-pointer items-center gap-2 px-4 py-3">
          <span>#</span><span>{{ channel.data.title }}</span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="messages.length">
      <div class="px-10 py-2">
        <div class="px-4 text-xs font-semibold">Messages</div>

        <div
          *ngFor="let message of messages"
          (click)="choose(message)"
          class="filter-bg flex cursor-pointer items-start gap-3 px-4 py-3">
          <div class="flex flex-col">
            <div class="line-clamp-2">
              <span class="bg-yellow-100 text-sm text-gray-700"> {{ message.data.text }}</span>
            </div>
            <div class="text-sm">
              <span class="font-semibold">von {{ message.data.authorName }}</span>
              <span class="text-gray-400"> in #{{ message.channelTitle }} </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!users.length && !channels.length && !messages.length">
      <div class="px-4 py-3">Keine Ergebnisse</div>
    </ng-container>
  </ng-container>
</div>
