.filter-bg:hover {
  background-color: #eceefe;
  border-radius: 50px;
}

.box-border {
  border: 3px solid #eceefe;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
}

.scroll-container {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

.filter-color {
  color: #444df2;
}
