<div
  class="absolute top-8 right-0 left-12 z-50 box-border max-w-[360px] scale-100 bg-white opacity-100 shadow-xl transition-all duration-150 ease-out"
  *ngIf="hasRenderableContent">
  <ng-container *ngIf="isGuidance">
    <div class="px-6 py-4 text-sm text-gray-500">
      <div class="flex flex-col gap-1">
        <span><strong class="text-purple-400/60">@</strong> für User</span>
        <span><strong class="text-purple-400/60">#</strong> für Channel</span>
        <span><strong class="text-purple-400/60">Text</strong> für alles im Workspace</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isUserSearch">
    <ng-container *ngIf="users.length; else noUsers">
      <div class="scroll-container max-h-[400px] overflow-y-auto px-10 py-2 pr-2 pb-2">
        <div
          *ngFor="let user of sortedUsers"
          (click)="choose(user)"
          class="filter-bg flex cursor-pointer items-center px-2 py-3">
          <img class="mr-3 h-8 w-8 rounded-full" [src]="user.data.photoUrl || 'imgs/default-profile-picture.png'" />

          {{ user.data.name }}
        </div>
      </div>
    </ng-container>

    <ng-template #noUsers>
      <div class="px-4 py-3 text-gray-400">Diesen User gibt es leider nicht.</div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="isChannelSearch">
    <ng-container *ngIf="channels.length; else noChannels">
      <div class="scroll-container max-h-[400px] overflow-y-auto px-10 py-2">
        <div
          *ngFor="let channel of channels"
          (click)="choose(channel)"
          class="filter-bg flex cursor-pointer items-center gap-2 px-2 py-3">
          <span>#</span><span>{{ channel.data.title }}</span>
        </div>
      </div>
    </ng-container>

    <ng-template #noChannels>
      <div class="px-4 py-3 text-gray-400">Diesen Channel gibt es leider (noch) nicht. Erstelle ihn doch einfach!</div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="!isUserSearch && !isChannelSearch">
    <div class="scroll-container max-h-[400px] overflow-y-auto">
      <ng-container *ngIf="users.length">
        <div class="px-10 py-2">
          <div class="filter-color text-decoration-line: px-2 text-xs font-semibold underline">User</div>
          <div
            *ngFor="let user of sortedUsers"
            (click)="choose(user)"
            class="filter-bg flex cursor-pointer items-center px-2 py-3">
            <img class="mr-3 h-8 w-8 rounded-full" [src]="user.data.photoUrl" />
            {{ user.data.name }}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="channels.length">
        <div class="px-10 py-2">
          <div class="filter-color text-decoration-line: px-4 text-xs font-semibold underline">Channels</div>
          <div
            *ngFor="let channel of channels"
            (click)="choose(channel)"
            class="filter-bg flex cursor-pointer items-center gap-2 px-2 py-3">
            <span>#</span><span>{{ channel.data.title }}</span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="messages.length">
        <div class="px-10 py-2">
          <div class="filter-color text-decoration-line: px-4 text-xs font-semibold underline">Messages</div>
          <div
            *ngFor="let message of messages"
            (click)="choose(message)"
            class="filter-bg flex cursor-pointer items-start gap-3 px-4 py-3">
            <div class="flex flex-col">
              <div class="line-clamp-2">
                <span class="bg-yellow-100 text-sm text-gray-700"> {{ message.data.text }}</span>
              </div>
              <div class="text-sm">
                <span class="font-semibold">von {{ message.data.authorName }}</span>
                <span class="text-gray-400"> in #{{ message.channelTitle }} </span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showEmptyState">
        <div class="px-4 py-3 text-gray-400">
          🔍 Leider nichts gefunden.
          <div class="mt-1 text-xs text-purple-400/60">Vielleicht ein anderer Begriff?</div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
