@import 'tailwindcss';
@import './styles/tw.auth-and-aside.css';
@import './styles/tw.shared-ui.css';
@import './styles/tw.overlays.css';
@import './styles/tw.messages.css';

@theme inline {
  --color-dab-bg: var(--dab-bg);
  --color-dab-light-purple-lines: var(--dab-light-purple-lines);
  --color-dab-gray: var(--dab-gray);
  --color-dab-purple-2: var(--dab-purple-2);
  --color-dab-purple-3: var(--dab-purple-3);
  --color-dab-purple-1: var(--dab-purple-1);
  --color-dab-online-green: var(--dab-online-green);
  --color-dab-rosa-error: var(--dab-rosa-error);
}

@layer base {
  body,
  input,
  textarea {
    @apply normal-text;
  }
}

@utility normal-text {
  @apply text-base sm:text-lg;
}

@utility small-text {
  @apply text-sm sm:text-base;
}
