@use 'fonts';
@use 'colors';

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

body {
  color-scheme: light;
  background-color: var(--dab-bg);
  margin: 0;
}

.max-width {
  max-width: 1440px;
}

input:is(:-webkit-autofill, :autofill) {
  box-shadow: 0 0 0 calc(1px * infinity) inset var(--dab-bg);
  -webkit-text-fill-color: black;
}
