<section class="navbar mx-auto flex max-w-[1440px] items-center justify-between gap-6 p-4 px-4 lg:gap-12">
  <div class="flex items-center gap-3 lg:pl-4">
    <button
      *ngIf="showBackButton()"
      type="button"
      class="flex items-center gap-1 text-2xl font-bold md:text-3xl"
      (click)="onBackClick()"
      aria-label="Zur vorherigen Ansicht">
      <mat-icon>keyboard_arrow_left</mat-icon>
      <img class="size-12 rounded-full" src="imgs/workspace/Workspace logo.png" />
      Devspace
    </button>

    <ng-container *ngIf="!showBackButton()">
      <img class="size-12 lg:size-20" src="imgs/logo.svg" />
      <span class="cursor-default text-2xl font-bold md:text-3xl"> DABubble </span>
    </ng-container>
  </div>
  <div clickOutside (clickOutside)="closeDropdown()" class="relative hidden grow sm:block">
    <input
      matInput
      type="text"
      placeholder="Devspace durchsuchen"
      [(ngModel)]="searchTerm"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (input)="onSearchInput($event)"
      class="h-12 w-full rounded-full bg-white py-2 pr-10 pl-3 text-gray-500 focus:outline-none lg:pl-12" />
    <mat-icon class="absolute top-1/2 right-4 -translate-y-1/2 lg:right-4"> search </mat-icon>
    <app-filter-box
      *ngIf="dropdownOpen"
      [isFocused]="true"
      [searchTerm]="searchTerm"
      (close)="closeDropdown()"></app-filter-box>
  </div>
  <div class="hover-me flex items-center gap-1 lg:gap-4" (click)="openUserMenu()">
    <p
      class="font-nunito hidden max-w-[140px] flex-1 truncate text-2xl font-bold md:block lg:max-w-[400px] lg:text-3xl"
      [title]="currentUser()?.name || 'Gast'">
      {{ currentUser()?.name | displayName }}
    </p>
    <div class="relative">
      <img class="size-10 rounded-full md:size-14 lg:size-16" [src]="profilePictureUrl()" />
      <span
        class="absolute right-0 bottom-0 size-3 rounded-full border-2 border-white lg:size-4"
        [ngClass]="currentUser()?.onlineStatus ? 'bg-green-500' : 'bg-gray-400'"
        title="{{ currentUser()?.onlineStatus ? 'Online' : 'Offline' }}">
      </span>
    </div>
    <button #menuBtn class="hidden size-6 lg:block" matIconButton>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</section>
